In [1]:
from pathlib import Path
import os
import pandas as pd
from glob import glob

In [2]:
# Check Your Working Directory
print('Current working directory:', os.getcwd())

Current working directory: f:\datascience\datascience_project\project\new2025\github\Deploy_chest_X-ray_pneumonia\notebooks

In [4]:
%cd ..

f:\datascience\datascience_project\project\new2025\github\Deploy_chest_X-ray_pneumonia

In [5]:
data_map=pd.read_csv('data/data_map.csv')
data_map.head()

,img-path,class-name,split-name,resized_img
0,data\chest_xray\chest_xray\test\NORMAL\IM-0001...,NORMAL,test,data/resize_image/test_NORMAL_IM-0001-0001.jpeg
1,data\chest_xray\chest_xray\test\NORMAL\IM-0003...,NORMAL,test,data/resize_image/test_NORMAL_IM-0003-0001.jpeg
2,data\chest_xray\chest_xray\test\NORMAL\IM-0005...,NORMAL,test,data/resize_image/test_NORMAL_IM-0005-0001.jpeg
3,data\chest_xray\chest_xray\test\NORMAL\IM-0006...,NORMAL,test,data/resize_image/test_NORMAL_IM-0006-0001.jpeg
4,data\chest_xray\chest_xray\test\NORMAL\IM-0007...,NORMAL,test,data/resize_image/test_NORMAL_IM-0007-0001.jpeg

In [7]:
from sklearn.preprocessing import LabelEncoder

In [9]:
# Convert text labels (NORMAL, PNEUMONIA) to numbers (0, 1) for machine learning
data_map['class-encoded']= LabelEncoder().fit_transform(data_map['class-name'])
data_map.head()

,img-path,class-name,split-name,resized_img,class-encoded
0,data\chest_xray\chest_xray\test\NORMAL\IM-0001...,NORMAL,test,data/resize_image/test_NORMAL_IM-0001-0001.jpeg,0
1,data\chest_xray\chest_xray\test\NORMAL\IM-0003...,NORMAL,test,data/resize_image/test_NORMAL_IM-0003-0001.jpeg,0
2,data\chest_xray\chest_xray\test\NORMAL\IM-0005...,NORMAL,test,data/resize_image/test_NORMAL_IM-0005-0001.jpeg,0
3,data\chest_xray\chest_xray\test\NORMAL\IM-0006...,NORMAL,test,data/resize_image/test_NORMAL_IM-0006-0001.jpeg,0
4,data\chest_xray\chest_xray\test\NORMAL\IM-0007...,NORMAL,test,data/resize_image/test_NORMAL_IM-0007-0001.jpeg,0